:root {
  --font-noto: "Noto Sans", sans-serif;
  --gradient: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  font-family: var(--font-noto);
}

main.main__content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  transition: 400ms ease;
}

.main__title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.container__buttons {
  /* width: max-content; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, .5);
}

.container__buttons > button {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    #33001b,
    #ff0084
  ); 
  border: none;
  border-radius: .5rem;
}
